@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --link-color-primary: #646cff;
    --link-color-primary-hover: #535bf2;
    --button-bg-color-primary: #1a1a1a;
    --button-bg-color-primary-hover: #646cff;
  }

  a {
    font-weight: 500;
    text-decoration: underline;
    @apply text-blue-800;
  }
  a:hover {
    @apply text-blue-950;
  }

  html,
  body {
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  p,
  legend,
  label,
  select {
    font-size: 1rem;
    @apply text-violet-950;
  }

  ul {
    list-style: disc;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  input,
  select {
    border: 1px solid transparent;
    border-radius: 4px;
    @apply p-1;
    @apply bg-violet-100;
  }
}
